
<!doctype html>
<html>
  <head>
    <title>Jamminc</title>

    <link rel="stylesheet" type="text/css" href="site-style.css"/>
  </head>
  <body>
    <h1>Jamminc</h1>

    <ul id="navigation">
      <li>
        <a href="browse.html">Browse</a>
        <ul>
          <li><a href="browse.html">Songs</a></li>
          <li><a href="browse.html">Instruments
        </ul>
      </li>
      <li>
        <a href="test.html">Create</a>
        <ul>
          <li><a href="test.html">New song</a></li>
          <li><a href="test.html">New instrument</a></li>
        </ul>
      </li>
      <li>
        <a href="#">About</a>
        <ul>
          <li><a href="#">About Jamminc</a></li>
          <li><a href="#">Documentation</a></li>
        </ul>
    </ul>

    <div id="body">
      <div>
        <h2>Songs</h2>
        <div>
          Sort by: 
          <a href="#">Views</a>
          <a href="#">Rating</a>
          <a href="#">Date</a>
        </div>
        <ol>
          <li><a href="song.html">My song</a></li>
          <li><a href="song.html">A lovely song</a></li>
          <li><a href="song.html">A song for two</a></li>
        </ol>

        <h2>Instruments</h2>
        <div>
          Sort by: 
          <a href="#">Views</a>
          <a href="#">Rating</a>
          <a href="#">Date</a>
        </div>
        <ol>
          <li>Groovy instrument</li>
          <li>Bangin instrument</li>
          <li>Shredding instrument</li>
        </ol>
      </div>
    </div>

  </body>
</html>
