{{extend 'layout.html'}}

<ul id="popular" class="browse-list">
  <li>
    <h2>Popular songs</h2>
    <ol>
      <li><a href="{{= URL('music', 'instrument') }}">My song</a></li>
      <li><a href="{{= URL('music', 'instrument') }}">A lovely song</a></li>
      <li><a href="{{= URL('music', 'instrument') }}">A song for two</a></li>
    </ol>
  </li>
  
  <li>
    <h2>Popular instruments</h2>
    <ol>
      <li><a href="{{= URL('music', 'instrument') }}">Groovy instrument</a></li>
      <li><a href="{{= URL('music', 'instrument') }}">Bangin instrument</a></li>
      <li><a href="{{= URL('music', 'instrument') }}">A really long name for an instrument</a></li>
    </ol>
  </li>
</ul>

<div class="main-content">
  <h2>Welcome to Jamminc</h2>

  <p>Jamminc is the Javascript Application for Music Making and Internet Noise
  Community. It's a website about making cool sounds and sharing them with your
  friends.</p>

  <p>First time here?</p>
  <a class="button" href="{{= URL('music', 'edit') }}">Try it out</a>
  <a class="button" href="{{= URL('music', 'browse') }}">See what's popular</a>
</div>
