
{{extend 'layout.html'}}

<ul id="popular" class="browse-list">
  <li>
    <h2>Popular posts</h2>
    <ul>
      <li><a href="">Some other post</a></li>
    </ul>
  </li>

  <li>
    <h2>Tags</h2>
    <ul>
      <li><a href="">news</a></li>
      <li><a href="">music</a></li>
      <li><a href="">stuff</a></li>
    </ul>
  </li>

  <li>
    <h2>Archives</h2>
    <br>
    <select>
      <option>2013</option>
      <option>2012</option>
    </select>
  </li>
</ul>

<ol id="news" class="main-content">
  <li>
    <h2>Update</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing
      elit. Pellentesque urna magna, mollis eu varius non, egestas ac
      leo. Aenean sed lectus non magna lacinia tempor. Duis sed odio
      libero. Integer viverra arcu eu urna lobortis varius vitae vitae
      mauris. Aenean congue, mauris a scelerisque euismod, lorem risus
      ullamcorper massa, sed rutrum urna lectus vel sapien. Quisque
      lectus nulla, varius feugiat porttitor non, blandit in
      nunc. Phasellus facilisis nulla ac dui venenatis eget commodo
      lorem mollis. Pellentesque facilisis risus ut lorem feugiat
      porta. Morbi ipsum libero, dictum in convallis eu, rutrum sit amet
      velit. Ut in ligula risus. Sed blandit, est at ullamcorper semper,
      ipsum nibh ornare mauris, non aliquam metus tellus nec
      nisl. Phasellus a dolor ac turpis vulputate euismod non sagittis
      lectus. Mauris volutpat, nisi sodales sollicitudin consectetur,
      nisl lacus pulvinar lorem, rhoncus suscipit tellus justo id
      tortor.</p>
  </li>
  <li>
    <h2>A bit of news</h2>
    <p>Nullam iaculis, justo non tincidunt blandit, est massa fringilla
      lorem, vel fringilla felis lacus sed magna. Sed eu neque a sem
      ultricies gravida vel at mauris. Fusce erat leo, cursus eu
      fringilla quis, auctor suscipit turpis. Praesent non quam
      ligula. Nullam id enim ac diam dignissim interdum id nec
      purus. Aliquam erat volutpat. Vestibulum rutrum iaculis
      aliquet. Donec imperdiet est convallis arcu gravida et congue
      lorem aliquet. Cum sociis natoque penatibus et magnis dis
      parturient montes, nascetur ridiculus mus. Donec ac tellus
      est. Nunc quam nisi, pulvinar ac vehicula ut, mattis non
      nunc. Pellentesque ultrices quam eu ipsum aliquet eleifend a nec
      quam.</p>
    
    <p>Nulla facilisi. Morbi feugiat sodales neque vitae egestas. Etiam
      rhoncus, mauris a consequat fringilla, odio metus posuere magna,
      vel laoreet eros sapien id erat. Aenean malesuada enim in tortor
      fringilla laoreet. Sed dignissim convallis lorem, a egestas augue
      porta at. Nam vulputate egestas convallis. Phasellus sed elementum
      diam. Aenean sed orci ligula, eget semper quam.</p>
  </li>
</ol>


