
<!doctype html>
<html>
  <head>
    <title>Jamminc</title>

    <link rel="stylesheet" type="text/css" href="site-style.css"/>
  </head>
  <body>
    <h1>Jamminc</h1>

    <ul id="navigation">
      <li>
        <a href="browse.html">Browse</a>
        <ul>
          <li><a href="browse.html">Songs</a></li>
          <li><a href="browse.html">Instruments
        </ul>
      </li>
      <li>
        <a href="test.html">Create</a>
        <ul>
          <li><a href="test.html">New song</a></li>
          <li><a href="test.html">New instrument</a></li>
        </ul>
      </li>
      <li>
        <a href="#">About</a>
        <ul>
          <li><a href="#">About Jamminc</a></li>
          <li><a href="#">Documentation</a></li>
        </ul>
    </ul>

    <div id="body">
      <h2>My song</h2>
      <h3>Instruments used in this song</h3>
      <ul>
        <li><a href="test.html">Instrument 1</a></li>
        <li><a href="test.html">Instrument 2</a></li>
      </ul>
      <h3>Tracks in this song</h3>
      <ul>
        <li><a href="#">Bass track</a></li>
        <li><a href="#">Lead track</a></li>
      </ul>
      <h3>Comments</h3>
      <ol>
        <li>
          <div class="comment">
            Left by <i><a href="#">User123</a></i> at <i>July 3rd 2013</i>
            <br>
            This is a good song.
          </div>
        </li>
        <li>
          <div class="comment">
            Left by <i><a href="#">User321</a></i> at <i>July 4th 2013</i>
            <br>
            Cool.
          </div>
        </li>
      </ol>
    </div>

  </body>
</html>
