<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Testing node thing</title>

    <!-- JQuery stuff -->
    <script src="jquery-ui-1.8.24.custom/js/jquery-1.8.2.min.js"></script>
    <script src="jquery-ui-1.8.24.custom/js/jquery-ui-1.8.24.custom.min.js"></script>

    <!-- Normalize -->
    <link rel="stylesheet" href="normalize.css"/>

    <!-- My stuff -->
    <link rel="stylesheet" href="graphr-style.css"/>
    <link rel="stylesheet" href="music-style.css"/>

    <script src="graphr.js"></script>
    <script src="wav.js"></script>
    <script src="music.js"></script>
    <!--<script src="math.js"></script>-->
  </head>
  <body>

    <a href="#">Fork this instrument</a> 
    <a href="#">See instruments based on this instrument</a> 
    <a href="#">See songs using this instrument</a> 

    <div id="music-ui"></div>
    <table>
      <tr>
        <td>
          <textarea id="notes" rows="5" cols="10">440 1</textarea>
        </td>
        <td>
          <input id="generate-music" type="button" value="Generate Music"/>
        </td>
        <td>
          <audio id="music-audio" controls></audio>
        </td>
      </tr>
      <tr>
        <td colspan="2" rowspan="2">
          <textarea id="json-field" rows="10" cols="30"></textarea>
       </td>
       <td><input id="generate-json" type="button" value="Generate JSON" /></td>
      </tr>
      <tr>
        <td><input id="load-json" type="button" value="Load JSON" /></td>
      </tr>
    </table>

    <!--
    <div class="graph-node">
      <div class="graph-node-title">
        A Node
      </div>

      <ul class="graph-node-inputs">
        <li>Input 1</li>
        <li>Input 2</li>
      </ul>

      <ul class="graph-node-outputs">
        <li>Output 1</li>
        <li>Output 2</li>
        <li>Output 3</li>
      </ul>
    </div>
    -->

  </body>
</html>
