
{{extend 'layout.html'}}

{{include}}

{{block before_list}}

{{end}}

{{ if browse_data: }}
<ul class="browse-list">
  {{ for type, data in browse_data.items(): }}
      {{ is_track = type == 'tracks' }}

      <li>
        <h2>{{= type.capitalize() }}</h2>

        {{ if not is_track: }}
            Sort by: 
            <ul class="button-group">
              <li><a href="{{= URL(vars={ type + '_s': 'views' }) }}">Views</a></li>
              <li><a href="{{= URL(vars={ type + '_s': 'rating' }) }}">Rating</a></li>
              <li><a href="{{= URL(vars={ type + '_s': 'created' }) }}">Date</a></li>
            </ul>
        {{ pass }}

        <ol {{= XML('class="music-list"') if not is_track else '' }}>
          {{ for row in data['entries']: }}
              <li>
                {{ if not is_track: }}
                    <a href="{{= URL('music', 'view', args=[type, row[type].id]) }}">
                      <img class="music-art" src="/jamminc/static/images/default-art.png"/>
                      {{= row[type].name }}
                    </a>
                    <br/>by
                    <a href="{{= URL('default', 'profile', args=[row.auth_user.id]) }}">
                      {{= row.auth_user.username }}
                    </a>
                {{ else: }}
                    {{= row[type].name }}
                {{ pass }}
              </li>
          {{ pass }}
        </ol>
        <div class="clearfix"></div>

        <div>
            {{ if data['page'] != 0: }}
                <a href="{{= URL(vars={ type + '_p': 0,
                                        type + '_s': data['sort'] }) }}">
                  &lt;&lt; First
                </a>
                <a href="{{= URL(vars={ type + '_p': data['page'] - 1,
                                        type + '_s': data['sort'] }) }}">
                  &lt; Previous
                </a>
            {{ pass }}

            {{ if data['page'] != 0 and data['page'] != data['pages'] - 1: }}
                |
            {{ pass }}

            {{ if data['page'] != data['pages'] - 1: }}
                <a href="{{= URL(vars={ type + '_p': data['page'] + 1,
                                        type + '_s': data['sort'] }) }}">
                  Next &gt;
                </a>
                <a href="{{= URL(vars={ type + '_p': data['pages'],
                                        type + '_s': data['sort'] }) }}">
                  Last &gt;&gt;
                </a>
            {{ pass }}

            {{ if not data['entries']: }}
                No {{= type }} to display.
            {{ pass }}
        </div>

        {{= data.get('extra', '') }}
      </li>
  {{ pass }}
</ul>
{{ pass }}

{{block after_list}}

{{end}}


