
{{extend 'layout.html'}}

{{include}}

{{block before_list}}

{{end}}

{{ if browse_data: }}
<ul class="browse-list">
  {{ for type, data in browse_data['items'].items(): }}
      {{ is_track = type == 'tracks' }}

      <li>
        <h3>{{= type.capitalize() }}</h3>

        {{ if not is_track: }}
            Sort by: 
            <ul class="button-group">
              <li><a href="{{= data['views'] }}">Views</a></li>
              <li><a href="{{= data['rating'] }}">Rating</a></li>
              <li><a href="{{= data['created'] }}">Date</a></li>
            </ul>
        {{ pass }}

        {{ list_class = 'music-list' if not is_track else '' }}
        <ol class="{{= list_class }} {{= type }}">
          {{ for row in data['entries']: }}
              <li>
                {{ if not is_track: }}
                    <a href="{{= URL('music', browse_data['handler'], args=[type, row[type].id]) }}">
                      <div class="music-art">
                      {{ if browse_data['editable']: }}
                          <div class="close">{{= row[type].id }}</div>
                      {{ pass }}

                      <img src="{{= URL('default', 'download', args=[row.images.image]) }}"/>
                      <br/>
                      </div>

                      {{= row[type].name }}

                    </a>
                    <br/>by
                    <a href="{{= URL('default', 'profile', args=[row.auth_user.id]) }}">
                      {{= row.auth_user.username }}
                    </a>
                {{ else: }}
                    {{= row[type].name }}
                {{ pass }}
              </li>
          {{ pass }}
        </ol>
        <div class="clearfix"></div>

        <div>
          {{= data['first'] }}
          {{= data['prev'] }}
          {{= data['next'] }}
          {{= data['last'] }}

          {{ if not data['entries']: }}
              No {{= type }} to display.
          {{ pass }}
        </div>

        {{= data.get('extra', '') }}
      </li>
  {{ pass }}
</ul>
{{ pass }}

{{block after_list}}

{{end}}


