
{{extend 'layout.html'}}

{{ include_songs = include_instruments = include_tracks = False }}

{{block before_list}}

{{end}}

{{ if include_songs or include_instruments or include_tracks: }}
<ul class="browse-list">
  {{ if include_songs: }}
      <li>
        <h2>Songs</h2>
        <span>
          Sort by: 
          <ul class="button-group">
            <li><a href="#">Views</a></li>
            <li><a href="#">Rating</a></li>
            <li><a href="#">Date</a></li>
          </ul>
        </span>
        <ol class="music-list">
          {{ for row in songs: }}
              <li>
                <a href="{{= URL('music', 'view', args=['song', row.songs.id]) }}">
                  <img class="music-art" src="/jamminc/static/images/default-art.png"/>
                  {{= row.songs.name }}
                </a>
                <br/>by
                <a href="{{= URL('default', 'profile', args=[row.auth_user.id]) }}">
                  {{= row.auth_user.username }}
                </a>
              </li>
          {{ pass }}
        </ol>
        <div class="clearfix"></div>
        {{ if not songs: }}
            No songs to display.
        {{ pass }}

        {{block songs_extra}}
        {{end}}
      </li>
  {{ pass }}

  {{ if include_instruments: }}
      <li>
        <h2>Instruments</h2>
        <span>
          Sort by: 
          <ul class="button-group">
            <li><a href="#">Views</a></li>
            <li><a href="#">Rating</a></li>
            <li><a href="#">Date</a></li>
          </ul>
        </span>
        <ol class="music-list">
          {{ for row in instruments: }}
              <li>
                <a href="{{= URL('music', 'view', args=['instrument', row.instruments.id]) }}">
                  <img class="music-art" src="/jamminc/static/images/default-art.png"/>
                  {{= row.instruments.name }}
                </a>
                <br/>by
                <a href="{{= URL('default', 'profile', args=[row.auth_user.id]) }}">
                  {{= row.auth_user.username }}
                </a>
              </li>
          {{ pass }}
        </ol>
        <div class="clearfix"></div>
        {{ if not instruments: }}
            No instruments to display.
        {{ pass }}

        {{block instruments_extra}}
        {{end}}
      </li>
  {{ pass }}

  {{ if include_tracks: }}
      <li>
        <h2>Tracks</h2>
        <ol>
          {{ for row in tracks: }}
              <li>{{= row.name }}</li>
          {{ pass }}
        </ol>
        {{ if not tracks: }}
            No tracks to display.
        {{ pass }}

        {{block tracks_extra}}
        {{end}}
      </li>
  {{ pass }}
</ul>
{{ pass }}

{{block after_list}}

{{end}}

{{include}}

