
#music-ui {

}

.music-note {
    position: absolute;
    background-color: #494;
}

.pianoroll {
    position: relative;
    background-color: #AAA;
    min-width: 100px;
}

.pianoroll-svg {
    position: absolute;
    width: 100%;
    height: 100%;
}

.pianoroll-settings {
    padding: 3px;
    border: solid;
    border-width: 1px;
    border-radius: 5px;
    border-color: #AAA;
    background-color: #EEE;
}

