
body {
    padding: 10px;
}

a {
    text-decoration: none;
    color: #237AC4;
}

a:hover {
    text-decoration: underline;
}

h2 {
    font-size: 1.5em;
    margin: 3px 0px;
}

h3 {
    font-size: 1.3em;
    margin: 3px 0px;
}

.flash {
    position: fixed;
    right: 0px;
    top: 0px;
    padding: 10px;
    margin-right: 10px;
    min-width: 200px;
    background-color: #EE8;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    z-index: 100;
}

.flash .close {
    color: #FFF;
    background-color: #F00;
    width: 16px;
    height: 16px;
    border-radius: 8px;
    margin-left: 5px;
    float: right;
    text-align: center;
}

#header {
    border-radius: 5px;
    background-image: url('/jamminc/static/images/gradient.png');
    background-repeat: repeat-x;
    height: 40px;
    line-height: 40px;
    padding-right: 10px;
    margin-bottom: 10px;
}

#header h1 {
    text-indent: -9999px;
    font-size: 1px;
    background-image: url('/jamminc/static/images/title.png');
    background-repeat: no-repeat;
    height: 30px;
    width: 128px;
    margin: 3px 20px 3px 3px;
    display: inline-block;
    float: left;
    vertical-align: middle;
}

#header h1:hover {
    background-image: url('/jamminc/static/images/title-down.png');
}

#header>a.login-link {
    color: #FFF;
    font-size: 0.8em;
    float: right;
}

#navigation {
    list-style: none;
    display: inline;
    vertical-align: middle;
}

#navigation>li>a {
    color: #FFF;
    text-decoration: none;
    text-shadow: 1px 1px 1px #555;
}

#navigation>li {
    position: relative;
    float: left;
    padding-left: 7px;
    padding-right: 7px;
}

#navigation>li:not(:last-child) {
    border-right: 1px solid rgba(255, 255, 255, 0.5);
}

#navigation>li:not(:first-child) {
    border-left: 1px solid rgba(0, 0, 0, 0.5);
}

#navigation>li:first-child {
    border-left: 1px solid rgba(0, 0, 0, 0);
}

#navigation>li>ul {
    display: none;
    z-index: 100;
    background-color: #01A60D;
    border-radius: 0px 0px 5px 5px;
    margin: 0px;
    padding: 5px 10px 5px 10px;
    line-height: 1.5em;
    white-space: nowrap;
    list-style: none;
    position: absolute;
    left: 0px;
    top: 40px;
}

#navigation>li>ul>li {
    margin: 0px;
    padding: 0px;
}

#navigation>li>ul>li>a {
    display: block;
    color: #FFF;
    font-size: 0.9em;
}

#navigation>li:hover {
    background-color: #01A60D;
}

#navigation>li:last-child:hover {
    border-right: 1px solid rgba(0, 0, 0, 0.5);
}

#navigation>li:first-child:hover {
    border-left: 1px solid rgba(0, 0, 0, 0.5);
}

#navigation>li:not(:last-child):hover {
    border-right: 1px solid rgba(0, 0, 0, 0);
}

#navigation>li:hover>ul {
    display: inline-block;
}

#popular {
    float: left;
    width: 200px;
}

.browse-list {
    list-style: none;
    padding: 10px;
    margin: 0px;
    border-radius: 5px;
    background-color: #01A60D;
    background-image: url('/jamminc/static/images/highlight.png');
    background-repeat: repeat-x;
    background-position: top;
}

.browse-list>li {
    background-color: #FFF;
    padding: 5px;
    margin: 5px 0px 5px 0px;
    border-radius: 5px;
    box-shadow: 1px 1px 2px 1px #AAA inset;
}

.browse-list>li>h2 {
    font-size: 1.2em;
    line-height: 1.8em;
    text-shadow: 1px 1px 1px #999;
    display: inline;
}

.browse-list>li>ol {
    padding: 0px;
    margin: 0px;
    list-style-position: inside;
}

.browse-list>li>ol>li {
    padding: 0px;
    margin: 0px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

#news {
    list-style: none;
}

.main-content {
    padding-left: 230px;
}

span.view-label {
    float: left;
}

ul.view-options {
    list-style: none;
    display: inline;
}

ul.view-options>li {
    float: left;
    padding-left: 3px;
}

.ui-box {
    border-radius: 5px;
    box-shadow: 1px 1px 2px 1px #AAA inset;
    margin: 5px 0px;
    padding: 5px;
}

.button {
    display: inline-block;
    height: 1.5em;
    border-radius: 1.5em;
    text-align: center;
    padding: 0em 1em;
    background-color: #00F;
    background-image: url('/jamminc/static/images/button-bg.png');
    background-size: 50px 100%;
    background-repeat: repeat-x;
    color: #FFF;
    text-shadow: 0px 1px #444;
}

.button:hover {
    text-decoration: none;
    box-shadow: 0px -1px 5px #EEE inset;
}

.button-group {
    display: inline-block;
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.button-group>li {
    display: inline-block;
    float: left;
    margin: 0px;
    height: 1.5em;
    text-align: center;
    padding: 0em 1em;
    background-color: #00F;
    background-image: url('/jamminc/static/images/button-bg.png');
    background-size: 50px 100%;
    background-repeat: repeat-x;
}

.button-group>li>a {
    color: #FFF;
    text-shadow: 0px 1px #444;
}

.button-group>li:first-child {
    border-top-left-radius: 1.5em;
    border-bottom-left-radius: 1.5em;
}

.button-group>li:last-child {
    border-top-right-radius: 1.5em;
    border-bottom-right-radius: 1.5em;
}

.button-group>li:not(:last-child) {
    border-right: solid 1px #444;
}

.button-group>li:hover {
    box-shadow: 0px -1px 5px #EEE inset;
}

.button-group>li:hover>a {
    text-decoration: none;
}

.music-list {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.music-list>li {
    float: left;
    display: block;
    width: 150px;
    height: 150px;
    text-align: center;
}

.clearfix {
    display: block;
    height: 1px;
    clear: both;
}

.music-art {
    display: block;
    margin: 3px auto;
}

.view-art {
    margin: 10px;
    float: left;
}

.description, .comment {
    padding-left: 130px;
    white-space: pre-wrap;
}

.comments {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.comments>li {
    border: solid 1px #6FA3AE;
    margin: 5px;
    position: relative;
    min-height: 120px;
}

.comments .sidebar {
    position: absolute;
    background-color: #AFD8E1;
    width: 120px;
    text-align: center;
    height: 100%;
}








