
body {
    padding: 10px;
}

a {
    text-decoration: none;
    color: #237AC4;
}

a:hover {
    text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
    display: inline;
}

h2 {
    font-size: 1.5em;
    margin: 3px 0px;
}

h3 {
    font-size: 1.3em;
    margin: 3px 0px;
}

.flash {
    position: fixed;
    right: 0px;
    top: 50px;
    z-index: 100;
    display: none;
    padding-right: 25px;
    margin-right: 10px;
    min-width: 200px;
    padding: 10px;
    padding-right: 20px;
}

.notice {
    font-style: italic;
    font-size: 1em;
    margin: 0.2em;
    padding: 0.2em 1em;
    position: relative;
    top: -0.5em;
}

.flash, .notice {
    background-color: #EE8;
    border: 1px solid #7E7E48;
    border-radius: 5px;
    box-shadow: 2px 2px 3px #555;
}

.close {
    display: inline-block;
    width: 12px;
    height: 12px;
    text-indent: -9999px;
    background-image: url('/jamminc/static/images/x.png');
}

.flash .close {
    position: absolute;
    right: 5px;
    bottom: 13px;
    margin-left: 5px;
}

.floating-box .close {
    position: absolute;
    left: 5px;
    top: 5px;
}

#header {
    border-radius: 5px;
    background-image: url('/jamminc/static/images/gradient.png');
    background-repeat: repeat-x;
    height: 40px;
    line-height: 39px;
    padding-right: 10px;
    margin-bottom: 10px;
}

#header h1 {
    text-indent: -9999px;
    font-size: 1px;
    background-image: url('/jamminc/static/images/title.png');
    background-repeat: no-repeat;
    height: 30px;
    width: 128px;
    margin: 3px 20px 3px 3px;
    display: inline-block;
    float: left;
}

#header h1:hover {
    background-image: url('/jamminc/static/images/title-down.png');
}

#header>a.login-link {
    color: #FFF;
    font-size: 0.8em;
    float: right;
    margin-left: 1em;
}

#navigation {
    list-style: none;
    display: inline;
}

#navigation>li a {
    color: #FFF;
    text-decoration: none;
    text-shadow: 0px -1px rgba(0, 0, 0, 0.6);
}

#navigation>li>a {
    font-size: 15px;
    padding: 11px 7px;
}

#navigation>li {
    position: relative;
    float: left;
}

#navigation>li:not(:last-child) {
    border-right: 1px solid rgba(255, 255, 255, 0.5);
}

#navigation>li:not(:first-child) {
    border-left: 1px solid rgba(0, 0, 0, 0.5);
}

#navigation>li:first-child {
    border-left: 1px solid rgba(0, 0, 0, 0);
}

#navigation>li>ul {
    display: none;
    z-index: 100;
    background-color: #01A60D;
    border-radius: 0px 0px 5px 5px;
    margin: 0px;
    padding: 5px 0px;
    line-height: 1.5em;
    white-space: nowrap;
    list-style: none;
    position: absolute;
    left: 0px;
    top: 40px;
    box-shadow: 2px 2px 3px #555;
}

#navigation>li>ul>li {
    margin: 0px;
    padding: 0px;
}

#navigation>li>ul>li>a {
    display: block;
    color: #FFF;
    font-size: 0.9em;
    padding: 0px 10px;
}

#navigation>li a:hover {
    background-image: url('/jamminc/static/images/highlight.png');
    background-size: 100% 100%;
    text-decoration: none;
}

#navigation>li>ul>li>a:hover {
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
}

#navigation>li:hover {
    background-color: #01A60D;
}

#navigation>li:last-child:hover {
    border-right: 1px solid rgba(0, 0, 0, 0.5);
}

#navigation>li:first-child:hover {
    border-left: 1px solid rgba(0, 0, 0, 0.5);
}

#navigation>li:not(:last-child):hover {
    border-right: 1px solid rgba(0, 0, 0, 0);
}

#navigation>li:hover>ul {
    display: inline-block;
}

#popular {
    float: left;
    width: 200px;
}

.browse-list {
    list-style: none;
    padding: 10px;
    margin: 0px;
    border-radius: 5px;
    background-color: #01A60D;
    background-image: url('/jamminc/static/images/highlight.png');
    background-repeat: repeat-x;
    background-position: top;
}

.browse-list>li {
    background-color: #FFF;
    padding: 5px;
    margin: 5px 0px;
    border-radius: 5px;
    box-shadow: 1px 1px 2px 1px #AAA inset;
}

.browse-list>li>h3 {
    font-size: 1.2em;
    line-height: 1.8em;
    text-shadow: 1px 1px 1px #999;
}

.browse-list>li>ol {
    padding: 0px;
    margin: 0px;
    list-style-position: inside;
}

.browse-list>li>ol>li {
    padding: 0px;
    margin: 0px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

#news {
    list-style: none;
}

.main-content {
    padding-left: 230px;
}

span.view-label {
    float: left;
}

ul.view-options {
    list-style: none;
    display: inline;
}

ul.view-options>li {
    float: left;
    padding-left: 3px;
}

.floating-box {
    position: fixed;
    left: 25%;
    top: 25%;
    width: 50%;
    padding: 20px 15px 5px 15px;
    background-color: #AFD8E1;
    border: solid 1px #6FA3AE;
    box-shadow: 2px 2px 3px #555;
    z-index: 1000;
}

.ui-box {
    border-radius: 5px;
    box-shadow: 1px 1px 2px 1px #AAA inset;
    margin: 5px 0px;
    padding: 5px;
}

.button, .button-group>li>a {
    display: inline-block;
    height: 1.5em;
    text-align: center;
    line-height: 1.5em;
    padding: 0em 1em;
    background-color: #00F;
    background-image: url('/jamminc/static/images/button-bg.png');
    background-size: 50px 100%;
    background-repeat: repeat-x;
    color: #FFF;
    text-shadow: 0px -1px #222;
}

.button {
    border-radius: 1.5em;
}

.button:hover, .button-group>li>a:hover {
    text-decoration: none;
    box-shadow: 0px -1px 5px #EEE inset;
}

.button-group {
    display: inline-block;
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.button-group>li {
    float: left;
    margin: 0px;
}

.button-group>li:first-child>a {
    border-top-left-radius: 1.5em;
    border-bottom-left-radius: 1.5em;
}

.button-group>li:last-child>a {
    border-top-right-radius: 1.5em;
    border-bottom-right-radius: 1.5em;
}

.button-group>li:not(:last-child)>a {
    border-right: solid 1px rgba(50, 50, 50, 0.5);
}

.icon-button {
    border-radius: 2px;
    border: 1px solid #444;
    background-color: #444;
    width: 32px;
    height: 32px;
    display: inline-block;
}

.icon-button:hover {
    background-color: #25AFC3;
    border-color: #999;
}

.icon-button.active {
    background-color: #DD3;
}

.icon-button.thumbs-up {
    background-image: url('/jamminc/static/images/thumbs-up.png');
}

.icon-button.thumbs-down {
    background-image: url('/jamminc/static/images/thumbs-down.png');
    
}

.icon-button.favorite {
    background-image: url('/jamminc/static/images/favorite.png');
}

.rating {
    width: 100px;
    height: 1.3em;
    position: relative;
    margin: 5px 0px;
    color: #FFF;
    font-size: 0.7em;
    line-height: 1.3em;
}

.rating>.good, .rating>.bad {
    position: absolute;
    height: 100%;
}

.rating>.good {
    text-align: left;
    background-color: #393;
}

.rating>.bad {
    text-align: right;
    background-color: #933;
    width: 100%;
}

.music-list {
    list-style: none;
    padding: 0px;
    max-width: 750px;
}

.music-list>li {
    float: left;
    display: block;
    width: 150px;
    height: 150px;
    text-align: center;
}

.music-list>li .music-art {
    position: relative;
    margin: 3px 25px;
}

.clearfix {
    display: block;
    height: 1px;
    clear: both;
}

.music-art {
    width: 100px;
    height: 100px;
    background: -webkit-radial-gradient(#58696B, #131E20);
    background: radial-gradient(#58696B, #131E20);
    background-position: 0px -50px;
}

.music-art .cell {
    display: table-cell;
    width: 100px;
    height: 100px;
    vertical-align: middle;
    text-align: center;
}

.music-art a.extra-link {
    position: absolute;
    bottom: 0.5em;
    display: none;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 0.5em;
    width: 100px;
}

.music-art .close {
    position: absolute;
    display: none;
}

.music-art:hover .close, .music-art:hover a.extra-link {
    display: block;
}

.view-sidebar {
    float: left;
    padding: 3px 10px;
}

.description, .comment {
    display: block;
    padding: 5px;
    padding-left: 130px;
    white-space: pre-wrap;
}

.comments {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.username {
    font-weight: bold;
    color: #000;
    display: block;
    margin-bottom: 0.5em;
}

.username:hover {
    text-decoration: none;
}

.comments .date {
    position: absolute;
    bottom: 0.1em;
    left: 0.1em;
    font-size: 0.7em;
    white-space: nowrap;
}

.comments>li {
    border: solid 1px #6FA3AE;
    margin: 5px;
    position: relative;
    min-height: 150px;
}

.comments .sidebar {
    position: absolute;
    background-color: #AFD8E1;
    border-right: solid 1px #6FA3AE;
    width: 120px;
    text-align: center;
    height: 100%;
}








