{{extend 'layout.html'}}

<div>
  <h2>Songs</h2>
  <div>
    Sort by: 
    <a href="#">Views</a>
    <a href="#">Rating</a>
    <a href="#">Date</a>
  </div>
  <ol>
    <li><a href="song.html">My song</a></li>
    <li><a href="song.html">A lovely song</a></li>
    <li><a href="song.html">A song for two</a></li>
  </ol>
  
  <h2>Instruments</h2>
  <div>
    Sort by: 
    <a href="#">Views</a>
    <a href="#">Rating</a>
    <a href="#">Date</a>
  </div>
  <ol>
    <li>Groovy instrument</li>
    <li>Bangin instrument</li>
    <li>Shredding instrument</li>
  </ol>
</div>
      
