
{{ response.files.extend([
       '/jamminc/static/css/graphr-style.css',
       '/jamminc/static/css/music-style.css',
       '/jamminc/static/js/mwutil.js',
       '/jamminc/static/js/svg.js',
       '/jamminc/static/js/graphr.js',
       '/jamminc/static/js/wav.js',
       '/jamminc/static/js/music.js',
       '/jamminc/static/js/pianoroll.js',
       '/jamminc/static/js/jamminc.js']) }}

{{extend 'layout.html'}}

<div id="inst-id" style="display: none;">{{=inst_id}}</div>
<div id="song-id" style="display: none;">{{=song_id}}</div>

<div class="ui-box">
  <div>
    <ul class="button-group">
      <li><a id="view-instrument" href="#">View</a></li>
      <li><a id="fork-instrument" href="#">Fork</a></li>
      <li><a id="derived-instruments" href="#">Derived</a></li>
      <li><a id="instrument-uses" href="#">Uses</a></li>
    </ul>
  </div>

  <div>
    <a id="new-instrument" class="button" href="#">New instrument</a>
    <a id="save-instrument" class="button" href="#">Save instrument</a>
    <select id="load-instrument">
      <option>---Load instrument---</option>
   </select>
  </div>

  <div id="instrument-ui"></div>
</div>

<div class="ui-box song-controls">
  <div>
    <a id="save-song" class="button" href="#">Save song</a>
    <a id="play-song" class="button" href="#">Play song</a>
    <audio id="music-audio" controls></audio>
  </div>

  <div>
    <input id="song-name" type="text"/>
  </div>
  <div>
    <a id="new-track" class="button" href="#">New track</a>
  </div>
  <ul id="tracks-ui" style="list-style: none; margin: 0px; padding: 0px;"></ul>
</div>

  
  
