
{{ response.files.extend([
       '/jamminc/static/css/graphr-style.css',
       '/jamminc/static/css/music-style.css',
       '/jamminc/static/js/mwutil.js',
       '/jamminc/static/js/svg.js',
       '/jamminc/static/js/graphr.js',
       '/jamminc/static/js/wav.js',
       '/jamminc/static/js/music.js',
       '/jamminc/static/js/pianoroll.js',
       '/jamminc/static/js/jamminc.js']) }}

{{extend 'layout.html'}}

<div>
  <a href="#">Fork this instrument</a> 
  <a href="#">See instruments based on this instrument</a> 
  <a href="#">See songs using this instrument</a> 
</div>

<div>
  <input id="new-song" type="button" value="New song"/>
  <input id="save-song" type="button" value="Save song"/>
  <input id="play-song" type="button" value="Play song"/>
  <audio id="music-audio" controls></audio>
</div>

<div>
  <input id="new-instrument" type="button" value="New instrument"/>
  <input id="save-instrument" type="button" value="Save instrument"/>
</div>

<div>
  <input id="instrument-name" type="text"/>
</div>
<div id="instrument-ui"></div>

<div>
  <input id="new-track" type="button" value="New track"/>
</div>
<ul id="tracks-ui"></ul>

  
  
