
{{ response.files.extend([
    '/jamminc/static/js/mwutil.js',
    '/jamminc/static/js/jamminc-browse.js']) }}

{{extend 'browse-list.html'}}

{{block before_list}}
    {{ browse_data['handler'] = 'edit'
       browse_data['editable'] = True
       browse_data['items']['songs']['extra'] = (
           XML('<a class="button" href="{}">New song</a>'
               .format(URL('music', 'edit', args=['song']))))
       browse_data['items']['instruments']['extra'] = (
           XML('<a class="button" href="{}">New instrument</a>'
               .format(URL('music', 'edit', args=['instrument']))))
    }}
{{end}}



