
{{extend 'browse-list.html'}}

{{block before_list}}
    {{ thing = song if song else instrument 
       thing_type = 'songs' if song else 'instruments'
    }}

    <div class="ui-box">
      <h2>{{= thing.name }}</h2>
      {{ if auth.user_id == author.id: }}
          <a href="{{= URL('music', 'edit', args=[thing_type, thing.id]) }}">
            edit
          </a>
      {{ pass }}
      <div>
        <span>By
          <a href="{{= URL('default', 'profile', args=[author.id]) }}">
            {{= author.username }}
          </a></span>
        <br/>
        <span>Created {{= thing.created }}</span>
      </div>
      <br/>
      <img class="view-art" src="/jamminc/static/images/default-art.png"/>
      <audio controls></audio>
      <br/>
      <span class="description">{{= thing.description or 'No description.' }}</span>
      <div class="clearfix"></div>
    </div>
{{end}}

{{block after_list}}
    <h3>Comments</h3>
    <ol class="comments">
    {{ for row in comments: }}
        <li>
          <div class="sidebar">
            <span class="username">{{= row.auth_user.username }}</span>
            <img src="/jamminc/static/images/default-avatar.png"/>
          </div>
          <div class="comment">{{= row.comments.text }}</div>
        </li>
    {{ pass }}
    </ol>
    {{ if not comments: }}
        No comments yet.
    {{ pass }}
    <br/>
    {{= comment_form }}
{{end}}

