
{{ response.files.extend([
       '/jamminc/static/js/mwutil.js',
       '/jamminc/static/js/jamminc-browse.js'
   ])
}}

{{extend 'browse-list.html'}}

{{block before_list}}
    {{ thing = song if song else instrument 
       thing_type = 'songs' if song else 'instruments'
    }}

    <div class="ui-box">
      <h2>{{= thing.name }}</h2>
      {{ if auth.user_id == author.id: }}
          <a href="{{= URL('music', 'edit', args=[thing_type, thing.id]) }}">
            edit
          </a>
      {{ pass }}
      <div>
        <span>By
          <a href="{{= URL('default', 'profile', args=[author.id]) }}">
            {{= author.username }}
          </a></span>
        <br/>
        <span>Created {{= thing.created }}</span>
      </div>
      <br/>

      <div class="view-sidebar">
        <div class="music-art"><div class="cell">
          <img src="{{= URL('default', 'download', args=[image]) }}"/>
        </div></div>
        <div class="rating">
          <div class="bad"></div>
          <div class="good" style="width: {{= 100 * thing.rating }}%"></div>
        </div>
        <a class="icon-button thumbs-up" href="#">
        </a><a class="icon-button thumbs-down" href="#">
        </a><a class="icon-button favorite" href="#"></a>
      </div>

      <div>
        <audio controls {{= XML('src="{}"'.format(URL('default', 'download', args=[audio])) if audio else '') }}></audio>
        {{ if not audio: }}
            <span class="notice">No audio has been uploaded yet</span>
        {{ pass }}
      </div>

      <div class="description">{{= thing.description or 'No description.' }}</div>
      <div class="clearfix"></div>

    </div>

    {{ if thing_type == 'songs': }}
        <br/>
        <h3>Components used in this song</h3>
    {{ pass }}
{{end}}

{{block after_list}}
    <br/>
    <h3>Comments</h3>
    <ol class="comments">
    {{ for row in comments: }}
        <li>
          <div class="sidebar">
            <span class="username">{{= row.auth_user.username }}</span>
            <img src="/jamminc/static/images/default-avatar.png"/>
          </div>
          <div class="comment">{{= row.comments.text }}</div>
        </li>
    {{ pass }}
    </ol>
    {{ if not comments: }}
        <p>No comments yet.</p>
    {{ pass }}

    {{= comment_form }}
{{end}}

